#banner {
    width: 100%;
}

.principal {
    background-color: bisque;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
    font-size: 24px;
}

#missao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

p em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios {
    background-color: burlywood;
    padding: 20px;
}

ul {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%;
}